<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="add-data">
    <form action="/add" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">First Name</label>
          <input type="text" class="form-control" name="firstName" placeholder="First Name">
        
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Last Name</label>
          <input type="text" class="form-control" name="lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Roll Number</label>
            <input type="text" class="form-control" name="roll" placeholder="Roll Number">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Subject</label>
            <input type="text" class="form-control" name="subject" placeholder="Subject">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="showdata">
<table>
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Roll</th>
    <th>Subject</th>
  </thead>
  <tbody>
    <%  data.forEach( student =>{ %>

    
    <tr>
      <td><%= student.firstName %></td>
      <td><%= student.lastName %></td>
      <td><%= student.roll %></td>
      <td><%= student.subject %></td>
    </tr>

    <% }) %>
  </tbody>
</table>
</div>


</body>
</html>